[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
django-model-utils = "*"
django-ordered-model = "*"
unicef-restlib = ">=0.2.0"

[dev-packages]
"flake8" = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-echo = "*"
pytest-pythonpath = "*"
factory-boy = "*"

[requires]
python_version = "3.6"
