[run]
branch = true
source = etools_attachment
omit =  **/__init__.py
        **/migrations/**

[report]
fail_under = 95
ignore_errors = True
exclude_lines =
   pragma: no cover

[html]
directory = build/coverage
title = UNICEF Attachments Coverage report
